# Python Workshop Day - 1

### Why to learn Python?

- It's easy to learn
- Most of the best packages are written for python (matplotib, NumPy, pandas, seaborn, sci-kit learn)
- Python has a large community
- Flexibility (You can create programs that interact with other languages)
- Web Development

In [1]:
print('Hello World')

Hello World

### Variable

A **variable** is a reserved memory location to store values.

Rules for Writing Veriable:

* Veriable can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

* An veriable cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

* Keywords cannot be used as Veriable name.

In [6]:
_name = 'Python'

In [10]:
def = 'name'

SyntaxError: invalid syntax (<ipython-input-10-62beea538c5e>, line 1)

In [4]:
name = 'Python'

In [5]:
name

'Python'

### Comments

Comments are text notes added to the program to provide explanatory information about the source code.

Comments in python:

* Single Line Comments: Single Line Comments can be written using #
* Multiple Line Comments: Multiple Line Comments can be written using **Tripple Single quotes**(''' ''') or **Tripple Double quotes**(""" """)

In [12]:
# name
name = 'python'
print(name)

python

In [14]:
'''first line
second line
third line
'''
name = 'Python'
print(name)

Python

### Data Types in Python

#### Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

##### Type

In [16]:
# int
x = 5
print(x)

5

In [18]:
print(type(x))

<class 'int'>

###### float

In [19]:
num = 10.72
print(type(num))

<class 'float'>

In [30]:
print(len(num))

TypeError: object of type 'float' has no len()

In [20]:
com = 7 + 7j
print(type(com))

<class 'complex'>

#### String

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

Strings can be indexed - often synonymously called subscripted as well.

Similar to C, the first character of a string has the index 0.

In Python we can write a string using **single quotes** as well as **double quotes** and string can be a of single line as well as of multiple line

In [21]:
""
''
name = 'Python'
print(type(name))

<class 'str'>

In [63]:
name = name[0] + 'a' + name[2:]
name

'Pathon'

In [64]:
name[:4]

'Path'

In [34]:
name[1:5]

'ytho'

In [29]:
print(len(name))

6

In [31]:
print(name[len(name) - 1])

n

##### Reverse Indexing

In [33]:
print(name[-2])

o

In [35]:
print(name)

Python

In [36]:
print(name.lower())

python

In [37]:
print(name.upper())

PYTHON

In [38]:
name.replace('y', 'a')

'Pathon'

In [43]:
name2 = 'mail1@mail.com,mail2@mail.com'
name2.split(',')

['mail1@mail.com', 'mail2@mail.com']

In [46]:
name + " " + name2

'Python mail1@mail.com,mail2@mail.com'

#### Escape character

Ref.: https://www.w3schools.com/python/gloss_python_escape_characters.asp

In [60]:
q = "this thing n\bame"
print(q)

this thing name

#### Boolean

In computer science, a boolean data type is any data type of true or false value

In [61]:
val = True
val2 = False
print(type(val))

<class 'bool'>

#### List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

In [65]:
lst = [name, 'something', 5, 34, 32.4, [3, 'name']]
print(lst)

['Pathon', 'something', 5, 34, 32.4, [3, 'name']]

In [66]:
len(lst)

6

In [67]:
lst[1]

'something'

In [68]:
lst[1:5]

['something', 5, 34, 32.4]

In [71]:
lst[5][0]

3

In [73]:
lst[1] = 'someone'
lst[-1]

[3, 'name']

In [74]:
lst.append('new item')

In [75]:
lst

['Pathon', 'someone', 5, 34, 32.4, [3, 'name'], 'new item']

In [76]:
lst.pop()

'new item'

In [77]:
lst

['Pathon', 'someone', 5, 34, 32.4, [3, 'name']]

In [78]:
lst.remove(32.4)

In [79]:
lst

['Pathon', 'someone', 5, 34, [3, 'name']]

In [80]:
del lst[1]

In [81]:
lst

['Pathon', 5, 34, [3, 'name']]

#### Dictonary

Dictionary is an unordered collection of key-value pairs.

In [1]:
dict1 = {'Ram': [982398578923, 'adasd'], 32: 'adsae'}
print(dict1)

{'Ram': [982398578923, 'adasd'], 32: 'adsae'}

In [6]:
print(dict1.get('R'))

None

In [7]:
dict1['Ram'] = 993498538
print(dict1)

{'Ram': 993498538, 32: 'adsae'}

In [8]:
dict1['new key'] = 0

In [9]:
print(dict1)

{'Ram': 993498538, 32: 'adsae', 'new key': 0}

In [10]:
del dict1['new key']

In [11]:
print(dict1)

{'Ram': 993498538, 32: 'adsae'}

In [12]:
dict2 = {}
print(type(dict2))

<class 'dict'>

print

#### Set

Set is an unordered collection of unique items.  Items in a set are not ordered.

In [13]:
set1 = set()

In [18]:
set2 = {1, 1, 2, 3, 5}
print(set2)
print(type(set2))

{1, 2, 3, 5}
<class 'set'>

In [15]:
set3 = {1, 4, 5}
set4 = {1, 2, 3}
print(set3 | set4)

{1, 2, 3, 4, 5}

In [16]:
print(set3 & set4)

{1}

In [17]:
print(set3 - set4)

{4, 5}

#### Tupple

In [19]:
tup = (1, 2, 4)
print(tup)
print(type(tup))

(1, 2, 4)
<class 'tuple'>

In [23]:
x, y, z = tup
print(z)

4

In [21]:
tup2 = 1
print(type(tup2))

<class 'int'>

In [24]:
tup[1] = 3

TypeError: 'tuple' object does not support item assignment

### Type Casting

Typecasting, or type conversion, is a method of changing an entity from one data type to another

In [25]:
x = "10"
print(type(x))

<class 'str'>

In [26]:
x = int(x)
print(type(x))

<class 'int'>

In [27]:
lst = [1, 2, 5, 23]
print(type(lst))
lst = tuple(lst)
print(type(lst))

<class 'list'>
<class 'tuple'>

In [28]:
lst = [12, 23, 12, 23, 35, 1, 1]
lst = set(lst)
lst

{1, 12, 23, 35}

### Operators

Types of operator in python:
* Arithmetic operators

* Comparison (Relational) operators

* Logical (Boolean) operators

* Bitwise operators

* Assignment operators

* Special operators

#### Airthmetic Operator

    + , -, *, /, %, //, **  are arithmetic operators

In [29]:
x = 5
y = 10
print(x + y)

15

In [30]:
print(x - y)

-5

In [31]:
print(x * y)

50

In [33]:
print(y/x)

2.0

In [36]:
print(25/10)

2.5

In [34]:
print(y//x)

2

In [35]:
print(25//10)

2

In [38]:
print(x ** 3)

125

In [66]:
x = 26
print(x % 3)

2

#### Comparision Operators

    >, <, ==, !=, >=, <= are comparision operators

In [39]:
x = 10
y = 30

In [40]:
print(x > y)

False

In [41]:
print(x < y)

True

In [44]:
x != 11

True

In [45]:
x >= y

False

In [47]:
x <= 10

True

#### Logical Operators

* and
* or
* not

In [49]:
x == 10 and y == 30

True

In [50]:
x == 10 and y == 20

False

In [51]:
x == 10 or y == 20

True

In [52]:
x == 5 or y == 20

False

In [53]:
not x == 10

False

#### Bitwise operators

    &,  |,  ~,  ^,  >>,  << are Bitwise operators

In [56]:
7 & 5 # 111 & 101 => 101
# '''
# 1 1 1
# 1 0 1
# ----- &
# 1 0 1
# '''

5

In [57]:
7 | 5 # => 7

7

In [58]:
~7 #

-8

In [59]:
7 ^ 5 #

2

In [61]:
7 >> 1 # 1 1 1 => 0 1 1 => 0 0 1

3

In [62]:
7 << 1 # 1 1 1 => 1 1 1 0

14

#### Assignment operators

    =,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators

In [63]:
x = 5
x = x + 2
x

7

In [64]:
x += 2
x

9

#### Special Operators

1. Identity Operators
2. MemberShip Operators

###### 1. Identity Operators

1. is
2. is not

In [67]:
x = [12, 34]
y = [23, 34]
x is y

False

In [73]:
#-5 256
x = 25
y = 25
x is y

True

In [74]:
id(x)

140732129139104

In [75]:
id(y)

140732129139104

In [69]:
x = 257
y = 257
x is y

False

In [70]:
id(x)

2606651585488

In [72]:
id(y)

2606651585456

In [71]:
x is not y

True

###### 2. MemberShip Operators

1. in
2. not in

In [76]:
lst = [1, 2, 4, 23]
5 in lst

False

In [77]:
4 in lst

True

In [78]:
5 not in lst

True

### Input and output

#### Taking input in python

we use **input()** function to take input from a user

In [81]:
name = input("Enter something: ")

Enter something: cpp

In [85]:
age = int(input('Enter your age: '))

Enter your age: 25

#### Standard Output in Python

We use **print()** in to print a value

In [86]:
print(type(age))

<class 'int'>

###### Output Formatting

using **.format()** method

In [91]:
x = 5
y = 20
print('x is', x, 'y is', y)

x is 5 y is 20

In [94]:
stat = "x is {1} and y is {0}".format(x, y)
print(stat)

x is 20 and y is 5

using **f-string**

In [97]:
stat2 = f"x is {x} and y is {y}"
print(stat2)

x is 5 and y is 20

### Python Conditional Statements

#### Python if elif else Statement

if condition: 
 
    statement